{{- if .Values.tts.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pattern-tts.fullname" . }}-config
  namespace: {{ include "pattern-tts.namespace" . }}
  labels:
    {{- include "pattern-tts.labels" . | nindent 4 }}
data:
  {{- include "pattern-tts.configmap.data" . | nindent 2 }}
{{- end }}
