apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "pattern-tts.fullname" . }}-models
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "pattern-tts.labels" . | nindent 4 }}
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  storageClassName: {{ .Values.persistence.storageClass }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.volumeName }}
  volumeName: {{ .Values.persistence.volumeName }}
  {{- end }}
